
@{
    ViewBag.Title = "Index";
}

<br />
<input type="button" value="Nueva Materia" onclick="document.location.href='@Url.Content("~/Materia/NewMateria")'" class="btn btn-primary" />
<br />

<div id="ListM">

</div>

<script>
    urlGetM = "@Url.Content("~/Materia/ListMaterias")";

    GetM();

    function GetM() {
        fetch(urlGetM)
            .then((res) => {
                return res.text();
            })
            .then((data) => {
                document.getElementById("ListM").innerHTML = data;
            });
    }

    urlM = "@Url.Content("~/Materia/DeleteMateria")";

    function DeleteM(id) {
        fetch(urlM, {
            method: "POST",
            body: JSON.stringify({
                idMateria: id,
            }),
            headers: {
                'Accept': "application/json",
                'Content-Type': "application/json"
            }
        }).then((res)=>{
            if (res.ok) {
                return res.text()
            } else {
                alert("Error al ejecutar")
            }
        }).then((data)=>{
            if (data != "1") {
                alert(data)
            } else {
                document.location.href= "@Url.Content("~/Materia")"
            }
        })
    }
</script>